<!DOCTYPE html>
<html lang="ko" ng-app="ottomall">
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" href="./css/ottomall.css">
    <script src="./js/angular-1.5.11.js"></script>
    <script src="./js/ottomall.js"></script>
</head>
<body ng-controller="ottoBody">
    <div class="skip"><a href="#content">skip navigation</a></div>
    <h1>MEAN Stack project</h1>
    
    <!-- include -->
    <header>
        <h1>header</h1>
    </header>

    <aside>
        <a href="">login</a>
        <a href="">list</a>
        <a href="">view</a>        
        <a href="">personal info</a>
    </aside>
    <!-- //include -->

    <div id="wrap" ng-view>

    </div>
</body>
</html>

